* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: hsl(265, 49%, 23%);
    --card-bg: hsl(225, 4%, 19%);
    --p-text: hsla(0, 0%, 100%, 0.9);
    --button-bg: hsl(37, 82%, 57%);
    --button-text: hsl(225, 4%, 19%);
    --button-shadow: 5px 10px hsla(37, 90%, 30%, 0.9);
    --button-bg-hover: hsl(265, 30%, 70%);
    --button-shadow-hover: 10px 15px hsla(256, 40%, 50%, 0.9);
    --glow-color: hsla(166, 92%, 55%, 0.9);
    --glow-effect: 0px 0px 40px 15px var(--glow-color);
    --gradient: linear-gradient(
        to bottom right,
        hsl(256, 100%, 13%),
        hsl(189, 100%, 13%)
    );
    --rounded-corners: 8px;
    --small-font-family: 'Poppins', sans-serif;
    --small-font-size: 1.25rem;
    --header-font-family: 'Special Elite', monospace;
    --header-font-size: 2rem;
    --text-shadow: 5px 5px 2px hsl(0, 0%, 0%);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    background-image: var(--gradient);

}

main {
    padding: 3rem 1rem;
    color: var(--p-text);
}

.hidden {
    display: none;
}

/* Text Styles */

h1 {
    font-family: var(--header-font-family);
    font-size: var(--header-font-size);
    text-align: center;
    text-shadow: var(--text-shadow);
}

p {
    text-align: center;
    margin: 1rem;
}

button, p {
    font-family: var(--small-font-family);
    font-size: var(--small-font-size);
}

/* Button Styles */

button {
    padding: 0.5rem 1rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    width: 100%;
    box-shadow: var(--button-shadow);
    border: none;
    cursor: pointer;
}

button:active {
    opacity: 0.5;
}

.choice-button {
    margin: 10px 0;
}

.start-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.start-button {
    margin: 24px 0;
    width: auto;
}

@media (hover: hover) {
    button:hover {
        background-color: var(--button-bg-hover);
        box-shadow: var(--button-shadow-hover);
    }
}

@media only screen and (min-width: 650px) {
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 1rem;
    width: 90%;
    max-width: 800px;
    padding: 3rem;
    background-color: var(--card-bg);
    border-radius: var(--rounded-corners);
    box-shadow: var(--glow-effect);
}

/* Text Styles */
h1 {
    text-align: right;
}

/* Button Styles */

.choices-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    width: 90%;
    margin: 0 auto;
}

button:focus {
    background-color: var(--button-bg-hover);
    box-shadow: var(--button-shadow-hover);
}

.choice-button {
    margin: 0;
}
}